<!DOCTYPE html>
<html>
<head><title>Registro</title></head>
<body style="font-family: sans-serif; text-align: center; padding-top: 50px;">
    <h2>Crear Cuenta 📝</h2>
    
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Elige Usuario" required><br><br>
        <input type="password" name="password" placeholder="Elige Contraseña" required><br><br>
        <label>Foto de Perfil:</label><br>
        <input type="file" name="foto"><br><br>
        <button type="submit">Registrarse</button>
    </form>
    <p><a href="/login">Volver al Login</a></p>
</body>
</html>